<h1>会員情報編集</h1>

<%= form_with model: @user, url: user_mypage_path, method: :patch do |f| %>
  <div class="form-group col-6">
    <strong>氏名</strong>
    <%= f.text_field :name, class: "form-control border-warning" %>
  </div>
  <div>
    表示名
    <%= f.text_field :nickname, class: "form-control border-warning" %>
  </div>
  <div>
    メールアドレス
    <%= f.text_field :email, class: "form-control border-warning" %>
  </div>

  <%= f.submit '変更する' %>
<% end %>

