<div class = 'container'>

  <div class = 'row'>
    <div class = 'col-3'>
      <h5>プロフィール</h5>
      <% if @user.name != "guestuser" %>
      <table class= 'table'>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    <div>
      <%= link_to '編集する', edit_user_mypage_path, class:"btn btn-outline-secondary" %>
      <%= link_to '退会する', user_unsubscribe_path, class:"btn btn-outline-danger" %>
    </div>
    <!--ゲストユーザーログインの場合-->
    <% else %>
      <table class= 'table'>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
      </table>
    <% end %>
    </div>

<!--レビュー一覧-->
    <div class = 'col-9'>
      <h5>わたしのレビュー</h5>
      <div class = 'row table-responsive'>
        <table class = 'table align-middle'>
          <tbody>
            <% @reviews.each do |review| %>
            <tr>
              <td><%= image_tag review.item.image,size: "100x100" %></td>
              <td class = 'align-middle'>
                <%= link_to user_item_path(review.item.id), class: 'text-dark' do%>
                  <%= review.item.name %>
                <% end %></td>
              <td class = 'align-middle'><%= review.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td class = 'align-middle' id="star-rate<%= review.id %>">
                <script>
                  $('#star-rate<%= review.id %>').raty({
                    size      : 20,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    half      : true,
                    readOnly  : true,
                    score     : <%= review.star %>,
                  });
                </script>
                <%= review.star %>
              </td>
              <td class = 'align-middle'><%= link_to '詳しく見る', user_item_review_path(review.item.id, review.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

<!--コメント一覧-->
      <h5>わたしのコメント</h5>
      <div class = 'row'>
        <% @review_comments.each do |review_comment| %>
          <table class = 'table'>
            <tr>
              <td style="width: 30%"><%= review_comment.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= review_comment.comment %></td>
              <td style="width: 30%"><%= link_to '詳しく見る', user_item_review_path(review_comment.review.item.id, review_comment.review.id) %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>

  </div>
</div>



