<h1>商品一覧</h1>

<div class='container'>
  <div class='row g-3'>
    <div class='col'>
      <table class="table text-center">
         <thead class="table-success">
           <tr>
             <th scope="col">商品画像</th>
             <th scope="col">商品名</th>
             <th scope="col">メーカー</th>
             <th scope="col">ジャンル</th>
             <th scope="col">評価</th>
            </tr>
          </thead>

          <tbody>
           <% @items.each do |item| %>
           <tr>
             <td>
              <% if item.image.attached? %>
               <%= image_tag item.image, size: "100x100" %>
              <% else %>
               <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
             </td>
             <td>
              <%= link_to admin_item_path(item.id) do %>
               <%= item.name %>
              <% end %>
             </td>
             <td>
              <%= item.maker %>
             </td>
             <td>
              <%= item.genre.name %>
             </td>
             <td>
               評価
             </td>
             <td>
               <%= link_to '編集する', edit_admin_item_path(item.id) %>
             </td>
           </tr>
           <% end %>
         </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class = "row">
   <div class = "col-md-12 offset-md-10">
    <%= link_to "追加する", new_admin_item_path, class: 'btn btn-success' %>
   </div>
  </div>