<div class="container">
  <div class="row g-3">
    <div class= "col-md-5 align-items-center">

    </div>

    <div class="col-md-4">
      <table class= "table table-borderless">
        <tbody>
          <tr>
            <th>画像</th>
            <td>
              <% if @item.image.attached? %>
               <%= image_tag @item.image, size: "100x100" %>
              <% else %>
               <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
             </td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>メーカー</th>
            <td><%= @item.maker %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th>レビュー</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row g-3">
   <div class= "col md-9 offset-md-9">
    <%= link_to"編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
  </div>

</div>