<div class = 'container'>
  <div class = 'row'>
    <% if @items == [] %>
    <h2 class = "seach-result">検索結果はありません</h2>
    <% else %>
      <% @items.each do |item| %>
      <div class ='col-3 text-align-center border'>
        <div class = 'card'>
          <%= image_tag item.image, class: 'mx-auto d-block', size: "150x150" %>
        </div>
        <ul class = 'card-body text-center'>
          <li　class = "card-title ist-unstyled"><strong>
            <%= link_to user_item_path(item.id), class: "card-title text-dark" do %>
             <%= item.name %></strong>
            <% end %>
          </li>
          <li class ="list-unstyled card-text">メーカー：<%= item.maker %></li>
          <li class ="list-unstyled card-text">発売日：<%= item.release_date %></li>
          <li class ="list-unstyled card-text">ジャンル：<%= item.genre.name %></li>
          <br>

          <% if item.reviews != [] %>
          <li class ="list-unstyled card-text" id="star-average<%= item.id %>">
          <script>
            $('#star-average<%= item.id %>').raty({
                size      : 20,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly  : true,
                score: <%= item.reviews.average(:star) %>,
              });
          </script>
          <%= item.reviews.average(:star).round(2) %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

