
<div class="search-form">
  <h3>商品名から探す</h3>
  <%= form_with url: user_items_path, method: :get do |f| %>
    <div>
      <%= f.label :keyword, '商品名' %>
      <%= f.text_field :keyword, value: @keyword, placeholder: "投稿を検索する" %>
    </div>
    <div>
      <%= f.submit "検索" %>
    </div>
  <% end %>
</div>

<div>
  <h3>ジャンルから探す</h3>
  <%= form_with url: user_items_path, method: :get do |f| %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div>
  <h3>ランキングから探す</h3><!-- 3位までの表示にしたい-->
  <% @ranks.each.with_index(1) do |item, i|%>
  <h5>第<%= i %>位</h5>
      <ul>
        <li　class="list-unstyled">
          商品名：<%= link_to user_item_path(item.id) do %>
                    <%= item.name %>
                  <% end %></li>
        <li　class="list-unstyled">メーカー：<%= item.maker %></li>
        <li　class="list-unstyled">発売日：<%= item.release_date.to_date %></li>
        <div id="star-average<%= item.id %>">総合評価平均：<%= item.reviews.average(:star) %>点
          <script>
            $('#star-average<%= item.id %>').raty({
                size      : 20,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly  : true,
                score: <%= item.reviews.average(:star) %>,
              });
          </script>
        </div>
      </ul>
  <% end %>
</div>