<div class = 'container'>
  <div class = 'row'>
    <div class="col-3">
      <% if @item.image.attached? %>
       <%= image_tag @item.image, size: "350x350" %>
      <% else %>
       <%= image_tag 'no_image', size: "350x350" %>
      <% end %>
    </div>

    <div class ='col-8 offset-1 mt-5'>

      <h2><%= @item.name %></h2>
      <h4>メーカー：<%= @item.maker %></h4>
      <h4>発売日：<%= @item.release_date %></h4>

    <% if @item.reviews != [] %>
      <%= render 'user/reviews/average' %>
    <% else %>
      <h5>レビューは0件です。</h5>
    <% end %>
      <br>
      <div>
        <%= link_to 'レビューをする', new_user_item_review_path(@item.id), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>

  <div class = 'row offset-1 mt-5'>
    <%= render 'user/reviews/index' %>
  </div>

</div>