<div class="col-md-9">
    <div class="col-md-4">
      <% if @item.image.attached? %>
       <%= image_tag @item.image, size: "100x100" %>
      <% else %>
       <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </div>

    <div class="col-md-7 ml-4 pr-3 d-flex flex-wrap">
      <ul>
        <li　class="list-unstyled"><%= @item.name %></li>
        <li　class="list-unstyled"><%= @item.maker %></li>
        <li　class="list-unstyled"><%= @item.release_date.to_date %></li>
      </ul>
    </div>

  <div>
    <%= render 'user/reviews/average' %>
  </div>

  <div>
    <%= render 'user/reviews/index' %>
  </div>


   <div>
     <%= link_to 'レビューをする', new_user_item_review_path(@item.id) %>
   </div>

</div>