<div class="col-md-9">
  <div class="row pr-5">
    <div class="col-md-4">
      <% if @item.image.attached? %>
       <%= image_tag @item.image, size: "100x100" %>
      <% else %>
       <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </div>

    <div class="col-md-7 ml-4 pr-3 d-flex flex-wrap">
      <ul>
        <li　class="list-unstyled"><h1><%= @item.name %></h1></li>
        <li　class="list-unstyled"><h2><%= @item.maker %></h2></li>
        <li　class="list-unstyled"><h2><%= @item.release_date %></h2></li>
      </ul>
    </div>

   <h1>口コミ一覧</h1>



   <div>
     <%= link_to 'レビューをする', new_user_item_review_path(@item.id) %>
   </div>

  </div>