<div class='container'>
  <div class='row g-3'>
    <div class='col-md-6 offset-md-3'>
    <%= form_with model: @genre, url:"/admin/genres", method: :post do |f| %>
      <div class="form-group">
        <%= f.label :name,"ジャンル名",class: "h4 text-success" %>
        <%= f.text_field :name, class: 'form-control border-success' %>
      </div>
      <div class="text-right">
        <%= f.submit '登録' %>
      </div>
    <% end %>
    <br>
    <table class="table">
      <% @genres.each do |genre| %>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する",  edit_admin_genre_path(genre.id) %></td>
          <td><%= link_to "削除する",  admin_genre_path(genre.id), method: :delete, "data-confirm" => "このジャンルを削除してよろしいですか？" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
