
   <% @reviews.each do |review| %>
    <div class = 'col-5 pt-3 mr-1 border-bottom border-secondary'>
      投稿者：<%= review.user.nickname %><br>
      投稿日時：<%= review.created_at.strftime("%Y-%m-%d %H:%M")  %><br>
      感想ポイント：<%= review.score %>
      <div id="star-rate<%= review.id %>">
        <script>
          $('#star-rate<%= review.id %>').raty({
            size      : 40,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly  : true,
            score     : <%= review.star %>,
          });
        </script>
        <%= review.star %>
      </div>
      <p><%= review.content.truncate(50) %></p>
      <%= link_to '詳細を見る', user_item_review_path(review.item.id, review.id) %>
    </div>
  <% end %>