
 <%= form_with model: @review, url: user_item_reviews_path, method: :post do |f| %>
   <%= f.hidden_field :item_id %>
   <%= f.hidden_field :user_id %>

    <!-- 星評価 -->
    <div id="star-rate">
      <%= f.label :star,'評価 '%>
      <%= f.hidden_field :star, id: :star %>
      <script>
        $('#star-rate').raty({
          size     : 50,
          starOff  : '<%= asset_path('star-off.png') %>',
          starOn   : '<%= asset_path('star-on.png') %>',
          starHalf : '<%= asset_path('star-half.png') %>',
          scoreName: 'review[star]',
          half: true,
        });
      </script>
    </div>
    <div>
      <%= f.label :sharpness, 'キレ' %>
      <%= f.number_field :sharpness, min:0,max:5 %>
      <%= f.label :rich, 'コク' %>
      <%= f.number_field :rich, min:0,max:5 %>
      <%= f.label :sourness, '酸味' %>
      <%= f.number_field :sourness, min:0,max:5 %>
      <%= f.label :sweetness, '甘味' %>
      <%= f.number_field :sweetness, min:0,max:5 %>
      <%= f.label :bitterness, '苦味' %>
      <%= f.number_field :bitterness, min:0,max:5 %>
    </div>

    <div class = "form_group" >
        <%= f.label :content, '感想' %>
        <%= f.text_area :content %>
    </div>
     <div class = "form_group" >
        <%= f.label :food, 'おすすめおつまみ' %>
        <%= f.text_area :food %>
    </div>
     <div class = "form_group" >
        <%= f.label :situation, 'こんな時におすすめ！' %>
        <%= f.text_area :situation %>
    </div>

    <div>
      <%= f.submit "投稿" %>
    </div>

    <!-- 評価javascript -->




  <% end %>
