<h1>口コミ詳細</h1>

  <div class="col-md-7 ml-4 pr-3 d-flex flex-wrap">
    <ul>
      <li　class="list-unstyled"><h1>評価：<%= @review.star %></h1></li>
      <li　class="list-unstyled"><h2>キレ：<%= @review.sharpness %></h2></li>
      <li　class="list-unstyled"><h2>コク：<%= @review.rich %></h2></li>
      <li　class="list-unstyled"><h2>酸味：<%= @review.sourness %></h2></li>
      <li　class="list-unstyled"><h2>甘味：<%= @review.sweetness %></h2></li>
      <li　class="list-unstyled"><h2>苦味：<%= @review.bitterness %></h2></li>
      <li　class="list-unstyled"><h4>感想：<%= @review.content %></h4></li>
    </ul>
  </div>
