<h5><%= @user.name %>を退会させますか？</h5>

<%= form_with model: @user, url: admin_user_path(@user.id),  method: :patch  do |f| %>
<div class="form-group ">
  <%= f.radio_button :is_deleted, "false" %>
  <%= f.label :is_deleted, "有効" %>

  <%= f.radio_button :is_deleted, "true" %>
  <%= f.label :is_deleted, "退会" %>

  <div class="text-right">
    <button type="submit" class="btn btn-success rounded-pill">保存</button>
  </div>
</div>
<% end %>