<div class='container'>
<label><h5>ユーザー一覧</h5></label>
  <div class='row'>
    <div class='col'>
      <table class="table text-center">
        <thead class="table-primary">
          <tr>
            <th scope="col">ユーザーID</th>
            <th scope="col">名前</th>
            <th scope="col">ニックネーム</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th><%= user.id %></th>
              <td><%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <% end %>
              </td>
              <td><%= user.nickname %></td>
              <td><%= user.email %></td>
              <td><% if user.is_deleted == false %>
                    有効
                  <% else %>
                    退会
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
