<div class="h3 pb-2 mb-4 text-success border-bottom border-success">
  <%= @user.name %>の会員詳細
</div>
<div class='container'>
  <div class='row g-3'>
    <div class='col-md-8 offset-md-2'>
      <table class="table table-bordered ">
        <tbody>
            <tr>
              <td class="table-success border-light">会員ID</td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <td class="table-success border-light">氏名</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td class="table-success border-light">ニックネーム</td>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <td class="table-success border-light">メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td class="table-success border-light">会員ステータス</td>
              <td><% if @user.is_deleted==false %>
                  有効
                  <% else %>
                  退会
                  <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>