<!DOCTYPE html>
<html>
  <head>
    <title>SAKESAGASHI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body  style= "padding-bottom:4.5rem;">
    <%= render 'layouts/header'%>
      <!--メッセージ＆アラート-->
    <% if flash[:notice ] %>
      <div class="alert alert-warning"><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
